<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6" IgnorableNamespaces="uap mp uap4 uap3 iot uap6">
  <Identity Name="ME-TelnetUWP-e71597ff3a02" Publisher="CN=media" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="2399cfc9-a33c-47ea-a429-e71597ff3a02" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ME.TelnetUWP</DisplayName>
    <PublisherDisplayName>mediaexplorer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TelnetUWP.App">
      <uap:VisualElements DisplayName="TelnetUWP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="TelnetUWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="allJoyn" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="codeGeneration" />
    <Capability Name="internetClientServer" />
    <uap4:Capability Name="offlineMapsManagement" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="blockedChatMessages" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="voipCall" />
    <uap:Capability Name="chat" />
    <iot:Capability Name="systemManagement" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="objects3D" />
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="userAccountInformation" />
    <iot:Capability Name="lowLevelDevices" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap6:Capability Name="graphicsCapture" />
    <uap4:Capability Name="userDataTasks" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="pointOfService" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="lowLevel" />
  </Capabilities>
</Package>